.dayweather {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.time-date{
    display: flex;
    gap:20px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 20px;
    box-sizing: border-box;
}
.temperature {
    display: flex;
    padding-left: 50px;
    gap:20px;
    box-sizing: border-box;
}
.temperature__details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    box-sizing: border-box;
    padding-bottom: 50px;
    gap: 10px;
}
.temperature__details__item{
    display:flex;
    gap:10px;
}
.date{
    margin:0;
    color: aliceblue;
    font-size:25px;
}
.time{
    margin:0;
    color: aliceblue;
    font-size:25px;
}
